@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Veja nossas vagas:</h1>
</div>


<div class="card-deck">
    @foreach (var vaga in ViewBag.ListaDeVagas)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@vaga.Funcao</h5>
                <p class="card-text">@vaga.Descricao</p>
                <p class="card-text"> <small class="text-muted">Publicado dia @vaga.DataCadastro</small></p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">Acessar vaga</button>
            </div>
        </div>
    }
</div>